header .tm-logo {
    height: 9.25em;
}

header .tm-menu {
    position: initial;
}

.col-md-3 {
    margin-left: -1px;
}

.form-group {
    label {
        margin-top: 1em;
    }
    .field {
        margin-top: -0.5em;
        input, textarea, select {
            font-size: 1.3em;
            color: #000;
            font-weight: 600;
            border: none;
            border-radius: 0;
            padding: 0;
            outline: 0;
            &:not([type="file"]) {
                border-bottom: 1px solid #ddd;
            }
            &[type="file"] {
                font-size: 1.1em;
                margin-top: 1em;
            }
            &[type="color"] {
                font-size: 1.1em;
                margin-top: 1em;
                border-bottom: none !important;
                width: 20%;
            }
        }
        &:focus {
            outline:0px !important;
            -webkit-appearance:none;
        }
        .form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid #111;
        }
    }
}

.page_title {
    margin: 0 0 30px 0;
}

.hp-editor {

    .page_title, .page_content {
        margin: 20px 0;
    }

    label {
        margin-top: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    input, button {
        padding: 10px 20px;
        width: 100%;
        border-radius: 3px;
        border: none;
    }

    button {
        cursor: pointer;
    }

    .page_slug {
        .input-group-prepend {
            .input-group-text {
                text-align: center;
                padding: 10px;
                padding-left: 20px;
            }
        }
    }

    input[type="text"] {
        border: 1px solid #ccc;
        &[id="slug"] {
            width: initial;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding-left: 10px;
        }
    }

    .ql-toolbar.ql-snow {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .ql-editor {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        font-size: 16px;
        min-height: 250px;
    }

    .ql-editor p {
        margin-bottom: 0;
    }

    textarea#content {
        display: none;
    }

    textarea#custom_header {
        display: block;
        width: 100%;
        min-height: 200px;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .button-return {
        float: right;
        padding: 25px 20px;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: #405CFF;
    }
}

#update-progress {
    font-family: "Lucida Console", Monaco, monospace;
    padding: 30px 38px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    display: none;
    height: 300px;
    * {
        font-family: "Lucida Console", Monaco, monospace;
    }
}

.red-color {
    color: #ff0000;
}

.green-color {
    color: #00ff00;
}

.manage-menu {
    .description_box_title {
        margin-top: 30px; 
    }
    .menu-list {
        margin-top: 30px;
        padding: 0;
        min-height: 100px;
        li {
            list-style-type: none;
            background:#b5d4ff;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: move;
            margin-top: 10px;
            span {
                float: right;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        &[id="available-menu-items"] {
            li {
                background: #eee;
            }
        }
    }
}

.menu-form {
    input {
        margin: 10px 0px;
        padding: 10px 20px;
        border-radius: 3px;
        border: 1px solid #ddd;
        outline: none;
        &[type="text"] {
            width: 100%;
        }
        &[type="checkbox"] {
            width: 20px; 
            height: 20px;
            vertical-align: middle;
        }
    }
    label {
        word-wrap: break-word;
        span {
            padding-left: 2px;
            font-size: 14px;
        }
    }
    button {
        padding: 10px 30px;
        border-radius: 3px;
        border: none;
        background: #405CFF;
        width: 100%;
        color: #fff;
        cursor: pointer;
        &[action="cancel"] {
            background: #111;
        }
    }
    &.menu-updater {
        display: none;
    }
}

.table {
    margin: 50px 0;
    .page-action {
        padding: 5px 10px;
        border-radius: 3px;
        text-decoration: none;
        color: #fff;
        background: #405CFF;
    }
}

.add-new-menu-item {
    margin-top: 20px;
    .description_box_title {
        margin-top: 50px; 
    }
    form {
        margin: 30px 0;
    }
}

.tm-stats {
    margin-bottom: 50px;
    .stats-item {
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 20px;
        color: #fff;
        text-align: right;
        .title {
            display: block;
            font-size: 18px;
        }
        .value {
            font-size: 36px;
        }
    }
}

.custom_code {
    min-height: 100px;
}